@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    background-color: #FFFFFF;
    /*background-image: url('../public/Free\ Photo\ _\ Empty\ asphalt\ road\ through\ modern\ city\ in\ china_.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
  }
}