.td-truncate {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.text-white {
  color: white;
}

.table-container {
  width: auto;
  overflow-x: auto;

}

.table-fixed {
  width: auto; 
  table-layout: fixed;
}
.table-fixed th,
.table-fixed td {
  padding: 0.3.5rem;
}

.truncate {
  white-space: nowrap;
   text-overflow:ellipsis; 
   overflow: hidden;
   max-width: 2px; /* Adjust the max-width to control the number of characters */
  }

/* CSS for the tooltip */
[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%; /* Adjust as needed */
  bottom: 100%; /* Display above the element */
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: 0.75rem;
  z-index: 999; /* Ensure tooltip is on top of other elements */
}
